.main-item {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
}


.go-cpanel {
    position: fixed;
    top: 15%;
    left: 0;
    width: 5%;
    border: 1px solid #e7e7e7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 9999;
    text-align: center;
}

.go-cpanel a {
    display: block;
    height: 100%;
}


.navbar {
    border-radius: 0 !important;

}

.flag {
    width: 100%;
}

.menu {
    margin-top: 10%;
    list-style-type: none;
    font-weight: bolder;
    font-variant: small-caps;
}

.content {
    padding: 0 0 10% 0;

}

.foot {
    height: 200px;
}